
.login{
    height: calc(100vh - 50px); /*because our topbar component's height is 50px, so we do not want to override z-index value of topbar component*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,25,0.5)
        ),
        url("https://upload.wikimedia.org/wikipedia/commons/e/e8/Robert_Smith_-_Inside_the_Main_Entrance_of_the_Purana_Qila%2C_Delhi_-_Google_Art_Project.jpg");
    background-size: cover;
}

.loginTitle{
    font-size: 50px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label{
    margin: 10px 0; /*top and bottom - left and right*/
}

.loginInput{
    padding: 10px;
    background: rgba(0, 0, 0, 0);
    border:none;
    border-bottom: 1px solid rgb(48, 48, 40);
    outline: none;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(48, 48, 40);
    border: none;
    color: yellow;
    border-radius: 10px;
    padding: 10px;
}

.loginRegisterButton{
    position: absolute;/*default parent is the login(body div)*/
    top: 60px;
    right: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(48, 48, 40);
    color: yellow;
    cursor: pointer; 
}